* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    
  background-size: cover;
  background-position:top center;
}
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
body {
    font-family: sans-serif;
  background-image: url('../weather2.jpg');
  
  background-size: cover;
  background-position:top center;
}
h3 {
    font-size: 50px;
    margin: auto;
}

.app form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
}

#search {
    margin: auto;
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid black;
    color: #313131;
    font-size: 20px;
    font-weight: 300;
    transition: 0.2s ease-out;
}

#sendButton {
    margin: auto;
    margin-top: 10px;
    font-size: 20px;
    width: 20%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0px 16px 0px 16px;
    border-bottom: 3px solid black;
}


.app input:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.location .city {
    color: #FFF;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 5px;
}

.location .date {
    color: #FFF;
    font-size: 16px;
}

.current .st {
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 8px rgba(0, 0, 0, 0.6);
}

.current .weather {
    color: #FFF;
    font-size: 32px ;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .temp {
    color: #FFF;
    font-size: 24px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .wind {
    color: #FFF;
    font-size: 24px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .presion {
    color: #FFF;
    font-size: 24px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .humedad {
    color: #FFF;
    font-size: 24px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}